@{
    Random rand = new Random();
    int PKID = rand.Next(1,1080);
    PokeApiClient pokeClient = new PokeApiClient();
    Pokemon PK = await pokeClient.GetResourceAsync<Pokemon>(PKID);

    Random IVH = new Random();
    int EV = 255;
    int level = 100;
    int HP = 1;

    HP = ((2 * PK.Stats[0].BaseStat + IVH.Next(0, 31) + (EV / 4) * level) / 100) + level + 10;

}

<div>
    <h1> @PK.Id</h1>
    <img src="@PK.Sprites.FrontDefault"/>
    <h1> @HP.ToString() </h1>
    <h1> @PK.Stats[0].Stat.Name </h1>
</div>