@{
    int PKID = 1;

    TrainerModel TModel = new TrainerModel();

    <h1>@TModel.AddPokemon()[0].Name</h1>

        //PokemonModel.AttackDamage();
            /*
    if(PokemonElements.LoadPokemon(PKID).Types.Count == 2)
    {
        <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
        <h1>@PokemonElements.LoadPokemon(PKID).Types[1].Type.Name</h1>
    }
    else
    {
        <h1>@PokemonElements.LoadPokemon(PKID).Types[0].Type.Name</h1>
    }*/

    

    //Gets the first move in the list of moves a pokemon can learn
    //(PokemonElements.LoadPokemon(PKID).Moves[0].Move)

}

<button name="attack" type="button" id="attack" >Attack</button>