@{
    PokeApiClient pokeClient = new PokeApiClient();
    Pokemon hooh = await pokeClient.GetResourceAsync<Pokemon>("ho-oh");
    
}

<div>
    <h1> @hooh.Name</h1>
    <img src="@hooh.Sprites.FrontDefault"/>
</div>