@{
    ViewData["Title"] = "Register";
}

<div class="card border-dark p-2 align-content-center" style="max-width: 20rem; min-height: 15rem;">
    <div>
        <label>Email</label>
        <input class="form-control" />
        <label>Password</label>
        <input class="form-control" />
        <div class="flex-row">
            <div class="m-2">
            <form asp-controller="Home" asp-action="Main">
                <button>Register</button>
            </form>
            </div>
            <div class="m-2">
            <form asp-controller="Home" asp-action="Login">
                <button>Login</button>
            </form>
            </div>
        </div>
    </div>
</div>